<!DOCTYPE html>
<html>
	<head>
    <title>HeadRoom Experimental Module-{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
		{% block header %}
		{% endblock %}
		</header>
		<div class="content">
			{% block content %}
			{% endblock %}
			<nav id="sitenav">
			{% block sitenav %}
				{% if page.previous %}
        <a href="{{ page.previous }}">&laquo; previous</a>
				{% endif %}
				{% if page.nxt %}
        <a href="{{ page.nxt }}">next &raquo;</a>
				{% endif %}
			{% endblock %}
			</nav>
		</div>
		<footer>
		{% block footer %}
		{% endblock %}
		</footer>
	</body>
</html>
